{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
<body class="text-center">
{% endblock %}


{% block body %}
<div class='container'>
  <h1>Connectez-vous</h1>
</div>
{#<div class='container'>
  <div class='alert alert-danger'>{{error_message}}</div>
</div>#}
<div class='container container_connexion'>
  {{ form_start(form,{'attr': {'class': 'form_connexion'}}) }}
  {{ form_row(form.Email, {'attr': {'class': 'connexion_email'}}) }}
  {{ form_row(form.Password, {'attr': {'class': 'connexion_password'}})}}
  {{form_row(form.submit, {'attr': {'class': 'connexion_submit'}})}}
  {{ form_end(form)}} 

  <h6><a href="{{path('app_connexion')}}">Mot de passe oublié ? </a></h6>
</div>
{% endblock %}

{% block footer %}{% endblock %}