{% extends 'base.html.twig' %}


{% block title %}{{controller_name}}{% endblock %}

{% block body %}


{% block content %}

{% endblock content %}

<div class="container ">
  <div class="container container_block_prestataire">
    {% for prestataire in prestataires %}
    <div class="card block_prestataire" style="width: 18rem;">
    {% for image in images %}

            {% if image.prestataire != null %}

            {% if image.prestataire.id == prestataire.id  %}
      <img src="../img/logo/{{image.imageName}}" class="card-img-top" alt="{{image.imageName}}">
      {% endif %}   

            {% endif %}
            {% endfor %}
      <div class="card-body">
        <h5 class="card-title">{{prestataire.nom}}</h5>
        <p class="card-text">{{prestataire.utilisateur.ville.villeName}}</p>
        <p class="card-text">{{prestataire.categorie.nom}}</p>

        <a href="{{path('app_prestataire_details', {id: prestataire.id})}}" class="btn btn-secondary">Voir details</a>
      </div>
    </div>

  {% endfor %}
  </div>  
 
    {{ knp_pagination_render(prestataires) }}

</div> 
   
  


{% endblock %}
