{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Categorie De Services{% endblock %}

{% block body %}
<main>

  
 <header  class="bg-light py-3 mb-4 border-bottom containerSearch">
  <div class="container d-flex flex-wrap justify-content-center">  

    {% include 'block/search.twig' %}
    
  </div>
</header>


{% include 'block/ruban.twig' %} 


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row categorie_mois">
      <div class="col-lg-4">
       {% for image in images %}
      
      {% if image.categorie != null %}
      
        {% if image.categorie.id == categorie.id  %}
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../img/categorie/{{image.imageName}}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
      
        {% endif %}   
         
      {% endif %}
    {% endfor %}
        
        <h2 class="fw-normal">{{categorie.nom}}</h2>
        <p>{{categorie.description}}</p>
        
      </div><!-- /.col-lg-4 -->
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
 {% for prestataire in prestataires %}
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">{{prestataire.Nom}}</h2>
        <p class="lead">numéro d'entreprise {{prestataire.Numtva}}</p>
        <p class="lead">Téléphone :  {{prestataire.Numtel}}</p>
        <p><a class="btn btn-secondary" href="{{path('app_prestataire_details', {id: prestataire.id})}}">View details &raquo;</a></p>
        
      </div>
      <div class="col-md-5">
       {% for image in images %}
      
        {% if image.prestataire != null %}
        
         {% if image.prestataire.id == prestataire.id  %}
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../img/logo/{{image.imageName}}" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        
          {% endif %}   
          
        {% endif %}
      {% endfor %}

      
       </div>

    <hr class="featurette-divider">
{% endfor %}
    

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  
</main>

{% endblock %}
